<header class="header-6">
  <div class="branding">
    <a class="nav-link" routerLink="/">
      <cds-icon shape="vm-bug"></cds-icon>
      <span class="title">Library App</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/sign-up" class="nav-link nav-text">SIGN UP</a>
    <a routerLink="/login" class="nav-link nav-text">LOGIN</a>
    <a routerLink="/books" class="nav-link nav-text">BOOKS</a>
    <a routerLink="/addBook" class="nav-link nav-text">Add Book</a>
  </div>

</header>