<header class="header-6">
  <div class="branding">
    <a class="nav-link" routerLink="/">
      <!-- <cds-icon shape="vm-bug"></cds-icon> -->
      <span class="title">Library App</span>
    </a>
  </div>
  <div class="header-nav">
    <a routerLink="/users" *ngIf="isAdmin" class="nav-link nav-text">USERS</a>
    <a routerLink="/books" class="nav-link nav-text">BOOKS</a>
    <a routerLink="/patrons" class="nav-link nav-text">PATRONS</a>

    <!--<a routerLink="/login" class="nav-link nav-text">LOGIN</a>-->
    <a href="javascript:void(0);" (click)="changeModalVisible()" class="nav-link nav-text">LOGOUT</a>


  </div>
  <!-- <clr-modal [(clrModalOpen)]="isModalVisible">
    <h3 class="modal-title">Are you sure you want to Log Out?</h3>
    <div class="modal-body">This cannot be undone.</div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="isModalVisible = false">Cancel</button>
      <button type="button" class="btn" (click)="logOut()">Log Out</button>
    </div>
  </clr-modal> -->
</header>

<router-outlet>

</router-outlet>