<div class="login-section">
  <form [formGroup]="form" class="clr-form clr-form-horizontal" (ngSubmit)="onLoginUser()">
    <div class="clr-form-control">
      <label for="username" class="clr-control-label">Username</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text" formControlName="username" id="username"  name="username" placeholder="Placeholder" class="clr-input" />
        </div>
      </div>
    </div>
    
    <div class="clr-form-control">
      <label for="password" class="clr-control-label">Password</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text"  formControlName="password" id="password" name="password" placeholder="Placeholder" class="clr-input" />
        </div>
      </div>
    </div>

    <div class="btn-group btn-primary">
      <button type="submit" class="btn">
        Login
      </button>

    </div>
  </form>
</div>