<form [formGroup]="form" (ngSubmit)="onSubmit()" id="formAddBook" class="clr-form clr-form-horizontal">

    <div class="clr-form-control">
        <label for="title" class="clr-control-label">Title</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted}" type="text"
                    id="title" name="title" placeholder="Title.." class="clr-input" />
            </div>
        </div>
    </div>
    <div *ngIf="submitted && f.title.errors">
        <div *ngIf="f.title.errors?.required">Title is required</div>
    </div>

    <div class="clr-form-control">
        <label for="description" class="clr-control-label">Description</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted}"
                    type="text" id="description" name="description" placeholder="Description.." class="clr-input" />
            </div>
        </div>
    </div>
    <div *ngIf="submitted && f.description.errors">
        <div *ngIf="f.description.errors?.required">Description is required</div>
    </div>

    <div class="clr-form-control">
        <clr-date-container>
            <label>Published Date</label>
            <input clrDate formControlName="publishedDate" class="form-control" [ngClass]="{ 'is-invalid': submitted}"
                name="publishedDate" placeholder="Pick a date" />
        </clr-date-container>
    </div>
    <div *ngIf="submitted && f.publishedDate.errors">
        <div *ngIf="f.publishedDate.errors?.required">Published Date is required</div>
    </div>

    <div class="clr-form-control">
        <label for="author" class="clr-control-label">Author</label>
        <div class="clr-control-container">
            <select [compareWith]="compareAuthors" formControlName="author" class="form-control"
                [ngClass]="{'is-invalid': submitted}" clrSelect name="author" (change)="onAuthorChange($event)">
                <option *ngFor="let author of authors; let a=index" [ngValue]="author">{{author.firstName}}
                    {{author.lastName}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="submitted && f.author.errors">
        <div *ngIf="f.author.errors?.required">Description is required</div>
    </div>

    <div class="clr-form-control">
        <label for="quantity" class="clr-control-label">Quantity</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted }"
                    type="number" name="quantity" id="quantity" placeholder="Title.." class="clr-input" />
            </div>
        </div>
    </div>
    <div *ngIf="submitted && f.quantity.errors">
        <div *ngIf="f.quantity.errors?.required">Quantity is required</div>
    </div>

    <div formArrayName="isbns">
        <div *ngFor="let isbnGroup of isbnGroupsArray; let i=index">
            <div id="ISBNs" [formGroup]="isbnGroup" class="clr-form-control">
                <label for="{{i}}" class="clr-control-label">ISBN</label>
                <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                        <input class="form-control" formControlName="isbn" [ngClass]="{ 'is-invalid': submitted }"
                            type="text" name="isbn" placeholder="Isbn.." class="clr-input" />
                    </div>
                </div>
            </div>
            <div *ngIf="submitted">
                <div *ngIf="isbnGroup.get('isbn')?.errors?.required">Quantity is required</div>
                <div *ngIf="isbnGroup.get('isbn')?.errors?.minlength">ISBN should have at least 10 Characters.</div>
            </div>
        </div>
    </div>

    <br>
    <div class="clr-form-control">
        <label for="genres" class="clr-control-label">Genres</label>
        <div id="genres" class="clr-form-control">
            <cds-form-group layout="vertical">
                <cds-checkbox-group *ngFor="let genre of genres;let j=index" layout="horizontal">
                    <cds-checkbox>
                        <label>{{genre.name}}</label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': submitted}" type="checkbox"
                            [checked]="genre.checked" name="{{j}}" (change)="onGenreSwitch($event,j)" />
                    </cds-checkbox>
                </cds-checkbox-group>
            </cds-form-group>
        </div>
    </div>

    <br><br>

    <div class="btn-group btn-primary">
        <button type="submit" class="btn">Add</button>
    </div>
</form>