<form [formGroup]="form" (ngSubmit)="onSubmit()" id="formAddEditGenre" class="clr-form clr-form-horizontal">
    <div class="clr-form-control">
        <label for="name" class="clr-control-label">Title</label>
        <div class="clr-control-container">
            <div class="clr-input-wrapper">
                <input formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted}" type="text"
                    id="name" name="name" placeholder="Name.." class="clr-input" />
            </div>
        </div>
    </div>

    <div class="btn-group btn-primary">
        <button type="submit" class="btn">Save Changes</button>
    </div>
</form>