

    <div  class="login-section" >
        <form #addForm="ngForm" class="clr-form clr-form-horizontal" (ngSubmit)="onLoginUser(addForm)">
         <div class="clr-form-control">
                <label for="usernameL" class="clr-control-label">Username</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="usernameL" ngModel name="usernameL"  placeholder="Placeholder" class="clr-input" />
                  </div>
                </div>
              </div>
              <div class="clr-form-control">
                <label for="passwordL" class="clr-control-label">Password</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="passwordL" ngModel name="passwordL" placeholder="Placeholder" class="clr-input" />
                  </div>
                </div>
              </div>
           
            <div class="btn-group btn-primary">
                <button type="submit" class="btn">
                    Login
                </button>
              
            </div>
          </form>
        </div>